.App-header {
    background-color: grey;
    height: 0250px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 23px;
}

.App-title {
    font-size: 1.5em;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    width: 100;
    text-align: center;
}

th,
td {
    height: 50px;
}

button, .submit {
    background-color: #9F82C2;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 15px;
    display: inline-block;
}

button:hover, .submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
    width: 20%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}