.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: grey;
  height: 200px;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 23px;
}

.App-title {
  font-size: 1.5em;
}


